%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{sub_dirs, ["src"]}.

{erl_opts, [
            debug_info,
            %% Erlang releases after 17 don't put R in front of their name, and
            %% also require dict() to be written like dict:dict()
            {platform_define, "^[0-9]+", namespaced_dicts},
            {src_dirs, ["src"]}
           ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {app_default, "http://www.erlang.org/doc/man"},
             {edown_target, github},
             {top_level_readme,
              {"./README.md", "http://github.com/SilentCircle/apns_erl_util"}}
            ]}.

{clean_files, ["test/*.beam"]}.

{ct_dir, "test"}.
{ct_extra_params, ""}.
{ct_use_short_names, true}.

{cover_enabled, true}.
{cover_report_enabled, true}.
{cover_export_enabled, true}.

{deps_dir, "deps"}.

{deps, [
        {sc_util, ".*",
            {git, "git@github.com:SilentCircle/sc_util.git", {branch, "master"}}},
        {edown, ".*",
            {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
        {parse_trans, ".*",
            {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},
        {jsx,".*",
            {git, "git@github.com:talentdeficit/jsx.git", {branch,"master"}}}
    ]
}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.

