%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{minimum_otp_vsn, "18"}.

{erl_opts, [
            %% Erlang releases after 17 don't put R in front of their name, and
            %% also require dict() to be written like dict:dict()
            {platform_define, "^[0-9]+", namespaced_dicts},
            debug_info,
            export_all
           ]}.

{eunit_opts, [verbose,
        {report, {eunit_surefire, [{dir, "."}]}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {app_default, "http://www.erlang.org/doc/man"},
             {edown_target, github},
             {top_level_readme,
              {"./README.md", "http://github.com/SilentCircle/apns_erl_util"}}
            ]}.

{clean_files, ["test/*.beam"]}.

{ct_dir, "test"}.
{ct_extra_params, ""}.
{ct_use_short_names, true}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{dialyzer, [{warning, [unknown,
                       unmatched_returns,
                       error_handling,
                       race_conditions,
                       underspecs]}]}.

{deps, [
        {uuid, ".*",
         {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
        {sc_util, ".*",
         {git, "https://github.com/silentcircle/sc_util.git", {branch, "master"}}},
        {parse_trans, ".*",
         {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},
        {jsx, ".*",
         {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]
}.

